<h1>Sign In</h1>

<form action="/session" method="POST">
	<label for="username">Username</label>
	<input type="text" id="username" name="user[username]"></input>

	<label for="password">Password</label>
	<input type="password" id="password" name="user[password]"></input>

	<input type="submit" value="Sign In"></input>

</form>